<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div><div style="width:600px;font-family:Verdana,Geneva,sans-serif;color:#292929">
    	 <br><br><hr>
       	  <div style="padding:0 10px 10px 10px;font-size:12px">
    				Dear <%= @message[:name] %>,
    				<br><br>
    				 <p> Thank you for your interest! We hereby confirm you that the making of your Photo album is in progress.
               We will contact you soon with updated information.</p>
    				 <br><br>
    				   For any queries, please reply to this mail or at <a href="http://www.studionathan.in/contact" target="_blank">
                 www.studionathan.in</a>
    					<br><br>
    					  Regards,
    					  <br>
    					   Studio Nathan
    						<hr></div></div>
    </div>
  </body>
</html>
