<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div><div style="width:600px;font-family:Verdana,Geneva,sans-serif;color:#292929">
    	 <br><br><hr>
       	  <div style="padding:0 10px 10px 10px;font-size:12px">
    				Dear <%= @message[:name] %>,
    				<br><br>
    				 <p> Thank you for contacting us! Let us start off by congratulating you on your upcoming Occation.
               We would very much like to be part of your big day. We will get in touch with you soon with all the details you need.</p>
    				 <br><br>
    				   We look forward to hearing from you and can be contacted at anytime at <a href="http://www.studionathan.in" target="_blank">
                 www.studionathan.in</a>
    					<br><br>
    					  Regards,
    					  <br>
    					   Studio Nathan
    						<hr></div></div>
    </div>
  </body>
</html>
