<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Hariprasanth, </h1>
    <p>
      You have a request from <strong><%= @message[:name] %></strong> (email: <%= @message[:email] %>, phone: <%= @message[:phone] %>) for
      making photo album.
      <br/>
    </p>

    <p>Have a great day!</p>
  </body>
</html>
