/***********************
Big Gallery
Author: (Shared on MafiaShare.net) Jan Skwara
***********************/



h1, h2, h3, h4, h5, h6 {
 filter:none !important;
}

h1.big_header {
 filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135, strength=4) !important;
}

.page_block {
	background: white !important;
}

.submenu a:hover {
	filter:none !important;
}

.butt  , .butt:focus {
		background: #white !important;
		background-image: url(../img/button_arrow.png) !important;
		background-position: right center !important;
		background-repeat:no-repeat !important;
}

.butt:hover, .butt:active {
		background: #white !important;
		background-image: url(../img/button_arrow_hover.png) !important;
		background-position: right center !important;
		background-repeat:no-repeat !important;
}


