<footer id="footer" role="contentinfo">
		<ul class="social-icons">
			<li><a href="#" target="_blank" title="Flickr"><i class="icon-flickr"></i></a></li>
			<li><a href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i></a></li>
			<li><a href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>								
		</ul>	
</footer>
